body{
    background:#fff;
    text-align:center;
}

.title{
    font-size:65px;
    font-weight:bold;
    color:#fff;
    position:relative;
    top:100px;

}
.box{
    width:290px;
    /*background: #999;*/
    position: absolute;
    right: 630px;
    bottom: 150px;
    /* border:2px solid #000; */
}
.box-logo{
    width:300px;
    text-align:center;
    font-size:20px;
}
.box-logo img{
    width:100px;
    margin:auto;
    padding-bottom:20px;
}
.box-one{
    width: 300px;
    height:50px;
    margin-bottom: 10px;
    border:1px solid rgb(255, 255, 255);
    position:relative;
}
.box-one input{
    width:300px;
    height:48px;
    border:none;
    padding-left:-10px;
    font-size:15px;
    background-color:rgb(236, 226, 226);
}
.box-two{
    width:1500px;
}
.box-two a{
    position:relative;
    left:140px;      

}
a:link {text-decoration:none;}    /* unvisited link */
a:visited {text-decoration:none;} /* visited link */
a:hover {text-decoration:underline;}   /* mouse over link */
a:active {text-decoration:underline;}  /* selected link */
.box-btn{
    width:30px;
    height:50px;
    margin:0 auto;
    padding-bottom: 20px;
    
}
.box-btn button{
    width:80px;
    height:40px;
    border-radius:20px;
    border:none;
    background:#5668d1;
    font-size:18px;
    color:rgb(239, 244, 245);
    cursor:pointer;
    position:relative;
    left:-10px; 
}
