body{
    background:#fff;
}
.box{
    width:290px;
    margin:50px;
    /*background: #999;*/
    position: absolute;
    right: 580px;
    bottom: 160px;
}
.box-one{
    width: 300px;
    height:50px;          
    margin-bottom: 10px;
    border:1px solid #999;
    position:relative;
}
.box-one input{
    width:192px;
    height:48px;
    border:none;
    padding-left:10px;
    position:absolute;
    font-size:15px;
}
.box-one button{
    width:100px;
    height:51px;
    border-radius:5px;
    border:none;
    background:#6062d3;
    font-size:14px;
    color:rgb(239, 244, 245);
    cursor:pointer;
    position:relative;
    left:204px;
}
.box-two{
    width: 300px;
    height:50px;          
    margin-bottom: 10px;
    border:1px solid #999;
    position:relative;
}
.box-two input{
    width:290px;
    height:48px;
    border:none;
    padding-left:10px;
    position:absolute;
    font-size:15px;
}

.box-btn{
    width:30px;
    height:50px;
    margin:0 auto;
    padding-bottom: 20px;
    
}
.box-btn button{
    width:60px;
    height:40px;
    border-radius:5px;
    border:none;
    background:#6062d3;
    font-size:18px;
    color:rgb(239, 244, 245);
    cursor:pointer;
    position:relative;
    left:-10px;
}
